# .coveragerc to control coverage.py
[run]
omit = 
 bitcoin/main.py
 bitcoin/deterministic.py
 bitcoin/transaction.py
 bitcoin/py3specials.py
 test/fee-estimation.py
 test/randomfunc-test.py
 test/tumbler-test.py
 test/test_tumbler.py
 test/test_donations.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except ImportError
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

