[BLOCKCHAIN]
blockchain_source = blockr
#options: blockr, json-rpc, regtest 
#before using json-rpc read https://github.com/chris-belcher/joinmarket/wiki/Running-JoinMarket-with-Bitcoin-Core-full-node 
network = mainnet
bitcoin_cli_cmd = bitcoin-cli

[MESSAGING]
host = irc.snoonet.org
channel = joinmarket-pit
port = 6697
usessl = true
socks5 = false
socks5_host = 127.0.0.1
socks5_port = 9150
